body{
  background-color:black;
}

.App {
  height: stretch;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color:black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
div#console-window{
  position: absolute;
  z-index: 3;
  width:30%;
  border:1px solid rgba(255, 255, 255, 0.42);
  border-radius: 5px;
  background-color: #333333;
}
@keyframes fadein {
  0%   {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeout {
  0%   {opacity:1;}
  100% {opacity:0;}
}

div#console-header>*{
  color: white;
  display: flex;
  align-self: center;
}
div#console-header h3{
  margin:0px;
}
div#console-header{
  display:flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(38, 38, 38);
  border-bottom: 1px solid rgb(19, 19, 19);
  padding: 5px;
  padding-right: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div#console-display{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  min-height: 100px;
  
  border-bottom: 1px solid black;
}
div#console-input{
  height: 32px;
  
}
div.console-typing{
  padding: 5px;
  color:white;
  background-color: #333333;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

div#user-Input{
  display:flex;
  color:white;
}
div#input-Field{
  padding-top: 5px;
  padding-left: 5px;
  
  color:inherit;
}
div#nav-Bar{
  padding-top:20px;
  background:linear-gradient(to bottom, black,transparent);
  color:white;
  display:flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: -100%;
  width: 100%;
  z-index: 1;
}
.nav-item{
  padding-right: 37.5px;
  padding-left: 37.5px;
}
img#bg-gif{
  position: absolute;
  top:-100%;
  width: 100%;
  height: auto;
  opacity: .5;
  z-index: 0;
}
div#nav-Bar div{
  background-color:transparent;
  color:inherit;
}

div#info-Container{
  background-color:blue;
  position: absolute;
  left: -100%;
}

.blinking-cursor {
  /* font-weight: inherit; */
  padding-top:5px;
  font-size: large;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-moz-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
.slideLeft {
  -webkit-animation: slideLeft 1s forwards;
  /* -webkit-animation-delay: 2s; */
  animation: slideLeft 1s forwards;
  /* animation-delay: 2s; */
}

@-webkit-keyframes slideLeft {
  100% { left: 0; }
}

@keyframes slideLeft {
  100% { left: 0; }
}
.slideTop {
  -webkit-animation: slideTop 1s forwards;
  /* -webkit-animation-delay: 2s; */
  animation-name: slideTop;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@-webkit-keyframes slideTop {
  100% { top: 0; }
}

@keyframes slideTop {
  100% { top: 0; }
}

.nav-item a{
  color:white;
}

@media only screen and (max-width: 600px) {
  div#console-window{
    width:100%;
  }
  img#bg-gif{
    right:-95%;
    width: auto;
    height: 100%;
  }
  div#nav-Bar{
    padding-top:20px;
    background:linear-gradient(to right, black,transparent);
    color:white;
    top: -20px;
    left: -100%;
    width: auto;
    z-index: 1;
    flex-direction: column;
  }
  .nav-item.slide0{
    padding-left:25px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 3;
    width: 100%;
    display: flex;
    height: 45px;
    align-items: center;
    background-color: black;
  }
}